body {
  font-family: sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 2rem;
}

main {
  max-width: 800px;
  margin: auto;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  flex: 1 1 150px;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: #cc008f;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #a3005c;
}

.playlist {
  background: white;
  margin-top: 1rem;
  padding: 1rem;
  border-left: 5px solid #cc008f;
}

span {
  color: #ed8dd1;
  font-style: italic;
}

.song-name {
  color: #525252;
  font-weight: bold;
  margin-bottom: 0;
}

h1,
h3 {
  color: #cc008f;
}

h4 {
  color: #ed8dd1;
  font-style: oblique;
}

li {
  list-style: none;
}
